# Rsudio
.Rproj.user
.Rhistory
.RData
.Ruserdata

# R
.Rapp.history

# Mac OSX
.DS_Store

# Data
*.csv
*.xls
*.xlsx

# C++
*.o
*.so
inst/doc
inst/stan/mmm
inst/stan/mmm_threads
inst/stan/mmm_mean
inst/stan/mmm_mean_threads
inst/stan/mmm_time
inst/stan/mmm_time_threads
inst/stan/mmm_term
inst/stan/mmm_term_threads
inst/stan/mmm_size
inst/stan/mmm_size_threads
inst/stan/mmm_reduce_sum
inst/stan/mmm_reduce_sum_threads
