# Rsudio
.Rproj.user
.Rhistory
.RData
.Ruserdata

# R
.Rapp.history

# Mac OSX
.DS_Store

# Data
*.csv
*.xls
*.xlsx

# C++
*.o
*.so
inst/doc
inst/stan/mmm
inst/stan/mmm_threads
inst/stan/mmm_reduce_sum
inst/stan/mmm_reduce_sum_threads
